# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        helper = osxkeychain
[alias]
        co = checkout
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributers = !$ZSH/bin/git-rank-contributers
        count   = !git shortlog -sn
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
