sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
git/gitconfig.symlink
*.swp
.DS_Store
vim/vim.symlink/.netrwhist
vim/vim.symlink/bundle/*
!vim/vim.symlink/bundle/vundle
