.php { padding:1em }
.php-src,.php,.listing { line-height:0 }
body { color:#000; background-color:#FFF; background-image:url(background.png); background-repeat:repeat-y; font-family:tahoma,verdana,arial,sans-serif; font-size:10pt; margin:0; padding:0 }
a { color:#009; background-color:transparent; text-decoration:none }
a:hover { text-decoration:underline }
a.menu { color:#FFF; background-color:transparent }
td { font-size:10pt }
.header_top { color:#FFF; background-color:#99C; font-size:16pt; font-weight:700; text-align:right; padding:10px }
.header_line { color:#FFF; background-color:#336 }
.header_menu { color:#FFF; background-color:#669; font-size:8pt; text-align:right; padding:2px 5px 2px 2px }
.menu { padding:2px 2px 2px 5px }
.code_border { color:#000; background-color:silver }
.code { color:#000; background-color:#f0f0f0 }
.credit { font-size:8pt; text-align:center }
.package { padding-left:5px }
.warning { color:red; background-color:transparent }
hr { height:1px; margin-top:10px; margin-bottom:10px; border-color:silver; border-style:solid }
ul { margin-left:0; padding-left:8px }
.src-code { background-color:#f5f5f5; border:1px solid #ccc9a4; margin:0; padding:0 }
.src-comm { color:green }
.src-num { color:#C00 }
.src-str { color:#6CC }
.src-doc-coretag { color:#09F; font-weight:700 }
.src-doc-internal { color:#69C }
.src-doc-tag { color:#0080CC }
.tute-inline-tag { color:#636311; font-weight:700 }
.author { font-style:italic; font-weight:700 }
.author-blurb { font-size:85%; font-weight:400; font-style:normal; margin:.5em 0 .5em 2em }
.example { border:1px dashed #999; background-color:#EEE; padding:.5em }
.listing { border:1px dashed #999; background-color:#EEE; white-space:nowrap; padding:.5em }
.release-info { font-size:85%; font-style:italic; margin:1em 0 }
.ref-purpose { font-style:italic; color:#666 }
.title { font-weight:700; border:2px solid #999; background-color:#99C; margin:1em 0 0; padding:.25em }
.cmd-synopsis { margin:1em 0 }
.toc { margin-left:2em; padding-left:0 }
.type,.src-doc-type,.src-doc-var,.tute-comment { font-style:italic }
.tags,.function,.description { padding-left:15px }
.top,.smalllinenumber { font-size:8pt }
.src-inc,.src-key,.src-doc-close-template,.src-doc-template,.tute-attribute-name { color:#00F }
.src-sym,.src-php,.tute-entity,.cmd-title { font-weight:700 }
.src-doc,.tute-tag { color:#099 }
.src-doc-inlinetag,.tute-attribute-value { color:#09F }
