[run]
omit =
    jedi/_compatibility.py
    jedi/inference/compiled/subprocess/__main__.py
    jedi/__main__.py
    # For now this is not being used.
    jedi/refactoring.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
