<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mine.homebrewdump</string>
    <key>ProgramArguments</key>
    <array>
        <string>~/.dotfiles/macos/homebrewdump.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>21600</integer>
</dict>
</plist>
