body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
#header{
  background:
    -webkit-gradient(linear, left top, left bottom, from(#F2F5FF), to(#C5E0E3));
}
#header{
  color: #335054;
  text-shadow: 1px 1px 0 #fff;
  font-family: Helvetica, sans-serif;
  padding: 10px 0 10px 30px;
}
#header #favicon{
  float: right;
}
#header #favicon span{
  visibility: hidden;
}
#header #favicon img{
  margin-right: 10px;
  visibility: visible;
  float: right;
  display: block;
  border: 1px solid #fff;
}
#header .newsItemSource a{
  font-size: 1.25em;
  color: #335054;
  text-decoration: none;
  padding: 5px 10px 5px 0;
}
#header .newsItemSource img{
  display: none;
}
#header .newsItemDate{
  display: none;
}
#header .newsItemCreator{
  color: #999;
  padding-left: 3px;
  font-size: .9em;
}
#blendsplit{
  height: 7px;
  background:
    -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
  border-top: 1px solid #95A8AB;
  margin-bottom: 15px;
}
#content #title{
  padding-bottom: 10px;
}
#content #title a{
  color: #333;
  font-size: 2.25em;
  text-decoration: none;
}
#content #title .newsItemDate{
  display: none;
}
#content #title .newsItemCreator{
  display: none;
}
#content{
  padding: .5em 30px;
}