"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e426b16e-4437-4291-a506-5fa5465e114d"
    scss:
      beautify_on_save: true
      convert_quotes: "single"
      preserve_newlines: true
  "atom-clock":
    showClockIcon: true
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "minimap"
      "linter"
      "linter-docker"
      "autocompiler-pug-jade"
      "linter-pug"
      "git-plus"
      "Sublime-Style-Column-Selection"
      "duplicate-line-or-selection"
      "emmet"
      "emmet-jsx-css-modules"
      "language-babel"
      "language-jade"
    ]
    hideGitIgnoredFiles: false
    projectHome: "~/bin"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 18
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabLength: 4
    tabType: "soft"
  "git-plus":
    pullBeforePush: "pull"
    tabLength: 4
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "linter-tidy":
    grammarScopes: [
      "text.html.basic text.html.twig"
    ]
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "svg-preview":
    openPreviewAutomatically: true
  "sync-settings":
    _lastBackupHash: "950d73b1a98c19a3913bf056ddd134c4337475e9"
    gistId: "08a0a2cd9d4cecf260bb8683eab060a7"
    personalAccessToken: "f2df5e29c7d56086c7a7703e37bf7e3cb7aafefe"
  "tree-view": {}
  "webbox-color":
    fillColorAsBackground: false
  welcome:
    showOnStartup: false
".aem.htl":
  editor:
    commentEnd: " */-->"
    commentStart: "<!--/* "
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
    showInvisibles: true
    tabLength: 4
".css.source.twig":
  editor:
    autoIndentOnPaste: false
".diff.source":
  editor:
    scrollPastEnd: true
    showInvisibles: true
    softWrapAtPreferredLineLength: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".js.jsx.source":
  editor:
    autoIndentOnPaste: true
    tabLength: 4
