packages: [
  "atom-beautify"
  "atom-handlebars"
  "atom-ternjs"
  "auto-update-packages"
  "autocomplete-paths"
  "color-picker"
  "fantasy-ui"
  "file-types"
  "language-javascript-better"
  "linter-eslint"
  "linter-scss-lint"
  "linter-less"
  "minimap"
  "package-sync"
  "react"
  "react-snippets"
  "seti-ui"
]
