[
  {
    title: "tesla.com"
    group: "Tesla"
    paths: [
      "/Users/eritchey/bin/tesla/tesla.com"
    ]
  }
  {
    title: "S/X Redesign"
    group: "Tesla"
    paths: [
      "/Users/eritchey/bin/tesla/sx-redesign"
    ]
  }
  {
    title: "Tesla Commerce"
    group: "Tesla"
    paths: [
      "/Users/eritchey/bin/tesla/tesla-commerce"
    ]
  }
  {
    title: "ElasticPath Commerce"
    group: "Tesla"
    paths: [
      "/Users/eritchey/bin/tesla/ep-commerce"
    ]
  }
  {
    title: "Tesla Particles"
    group: "Tesla"
    paths: [
      "/Users/eritchey/bin/tesla/particles"
    ]
  }
  {
    title: "AEM - Tesla.com"
    group: "Tesla"
    paths: [
      "/Users/eritchey/bin/tesla/aem/aem-parent/tesla-site"
      "/Users/eritchey/bin/tesla/aem/aem-parent/commons-ui"
    ]
  }
  {
    title: "Particles Component Playground"
    group: "Particles"
    paths: [
      "/Users/eritchey/bin/tesla/particles/particles-component-playground"
    ]
  }
]
