body { 
	font-family: 'Calibri', 'Helvetica', 'Arial', sans-serif;
	font-size: 14pt;
	text-align: center;
	background-color: #F5F5F5;
}

div.document {
	width: 50%;
	margin-left: auto;
	margin-right: auto;	
	text-align: left;
}


h1 {
	font-family: 'Calibri', 'Helvetica', sans-serif;
	font-size: 1.5em;
	color: #546473;
	word-spacing: -0.08em;
}

h2 {
	font-size: 1.25em;
	color: #546473;
}

span.pre {
	font-family: 'Consolas', 'Monaco', 'Courier New', 'Courier';
	background-color: #D1DCE6;
	font-weight: normal;
}

tt.literal {
	font-family: 'Consolas', 'Monaco', 'Courier New', 'Courier';
	font-weight: bold;
}