"*":
  "activate-power-mode":
    comboMode: {}
    particles:
      colours:
        type: "random"
    playAudio: {}
  "atom-beautify":
    general:
      _analyticsUserId: "8a44e412-966a-4efe-8f20-55069061d224"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      "node_modules"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    zoomFontWhenCtrlScrolling: true
  linter:
    errorPanelHeight: 74
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
