<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Neutron</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16927896440029144</real>
				<key>Green Component</key>
				<real>0.14692085981369019</real>
				<key>Red Component</key>
				<real>0.13559120893478394</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.21358194947242737</real>
				<key>Green Component</key>
				<real>0.25025421380996704</real>
				<key>Red Component</key>
				<real>0.71046537160873413</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.46746355295181274</real>
				<key>Green Component</key>
				<real>0.72727733850479126</real>
				<key>Red Component</key>
				<real>0.354786217212677</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.40063473582267761</real>
				<key>Green Component</key>
				<real>0.71008038520812988</real>
				<key>Red Component</key>
				<real>0.86981719732284546</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.57628089189529419</real>
				<key>Green Component</key>
				<real>0.48589074611663818</real>
				<key>Red Component</key>
				<real>0.41643223166465759</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.61571133136749268</real>
				<key>Green Component</key>
				<real>0.47487166523933411</real>
				<key>Red Component</key>
				<real>0.64283657073974609</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.659493088722229</real>
				<key>Green Component</key>
				<real>0.57874852418899536</real>
				<key>Red Component</key>
				<real>0.24830710887908936</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.95066088438034058</real>
				<key>Green Component</key>
				<real>0.93071860074996948</real>
				<key>Red Component</key>
				<real>0.92170488834381104</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.46746355295181274</real>
				<key>Green Component</key>
				<real>0.72727733850479126</real>
				<key>Red Component</key>
				<real>0.354786217212677</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.40063473582267761</real>
				<key>Green Component</key>
				<real>0.71008038520812988</real>
				<key>Red Component</key>
				<real>0.86981719732284546</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.57628089189529419</real>
				<key>Green Component</key>
				<real>0.48589074611663818</real>
				<key>Red Component</key>
				<real>0.41643223166465759</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.61571133136749268</real>
				<key>Green Component</key>
				<real>0.47487166523933411</real>
				<key>Red Component</key>
				<real>0.64283657073974609</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.659493088722229</real>
				<key>Green Component</key>
				<real>0.57874852418899536</real>
				<key>Red Component</key>
				<real>0.24830710887908936</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93599247932434082</real>
				<key>Green Component</key>
				<real>0.91112786531448364</real>
				<key>Red Component</key>
				<real>0.90232068300247192</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16927896440029144</real>
				<key>Green Component</key>
				<real>0.14692085981369019</real>
				<key>Red Component</key>
				<real>0.13559120893478394</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.21358194947242737</real>
				<key>Green Component</key>
				<real>0.25025421380996704</real>
				<key>Red Component</key>
				<real>0.71046537160873413</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1352592408657074</real>
				<key>Green Component</key>
				<real>0.11711952835321426</real>
				<key>Red Component</key>
				<real>0.10915461182594299</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.41846594214439392</real>
				<key>Green Component</key>
				<real>0.37485924363136292</real>
				<key>Red Component</key>
				<real>0.3234245777130127</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92647796869277954</real>
				<key>Green Component</key>
				<real>0.96674919128417969</real>
				<key>Red Component</key>
				<real>0.96554505825042725</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93599247932434082</real>
				<key>Green Component</key>
				<real>0.91112786531448364</real>
				<key>Red Component</key>
				<real>0.90232068300247192</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.64197766780853271</real>
				<key>Green Component</key>
				<real>0.56231993436813354</real>
				<key>Red Component</key>
				<real>0.48961970210075378</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.24256426095962524</real>
				<key>Green Component</key>
				<real>0.2113519012928009</real>
				<key>Red Component</key>
				<real>0.18291746079921722</real>
			</dict>
		</dict>
		<key>everforest-dark</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.36078432202339172</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.33725491166114807</real>
				<key>Red Component</key>
				<real>0.29411765933036804</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.49411764740943909</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.65490198135375977</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49803921580314636</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73725491762161255</real>
				<key>Red Component</key>
				<real>0.85882353782653809</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70196080207824707</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.49803921580314636</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7137255072593689</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.60000002384185791</real>
				<key>Red Component</key>
				<real>0.83921569585800171</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.57254904508590698</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.51372551918029785</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66666668653488159</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>0.82745099067687988</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.65490198135375977</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49803921580314636</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73725491762161255</real>
				<key>Red Component</key>
				<real>0.85882353782653809</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70196080207824707</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.49803921580314636</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7137255072593689</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.60000002384185791</real>
				<key>Red Component</key>
				<real>0.83921569585800171</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.57254904508590698</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.51372551918029785</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66666668653488159</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>0.82745099067687988</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.36078432202339172</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.33725491166114807</real>
				<key>Red Component</key>
				<real>0.29411765933036804</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.49411764740943909</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.24313725531101227</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21960784494876862</real>
				<key>Red Component</key>
				<real>0.18431372940540314</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.65490198135375977</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999600648880005</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66666668653488159</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>0.82745099067687988</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.24313725531101227</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21960784494876862</real>
				<key>Red Component</key>
				<real>0.18431372940540314</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66666668653488159</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>0.82745099067687988</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70196080207824707</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.49803921580314636</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.24313725531101227</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21960784494876862</real>
				<key>Red Component</key>
				<real>0.18431372940540314</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.65490198135375977</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>A7AB2EE2-567C-4B28-B605-A278CA35D9D6</string>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf700-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x280000</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Text</key>
			<string>^[ b</string>
		</dict>
		<key>0xf702-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Text</key>
			<string>0x17</string>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x280000</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Text</key>
			<string>^[ f</string>
		</dict>
		<key>0xf703-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Text</key>
			<string>^[ 0x17</string>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>NeverWarnAboutPossibleOverrides</key>
	<true/>
	<key>NeverWarnAboutPossibleOverrides_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>AWDS Pane Directory</key>
			<string></string>
			<key>AWDS Pane Option</key>
			<string>No</string>
			<key>AWDS Tab Directory</key>
			<string></string>
			<key>AWDS Tab Option</key>
			<string>Recycle</string>
			<key>AWDS Window Directory</key>
			<string></string>
			<key>AWDS Window Option</key>
			<string>No</string>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.36078432202339172</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.33725491166114807</real>
				<key>Red Component</key>
				<real>0.29411765933036804</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.49411764740943909</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.65490198135375977</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49803921580314636</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73725491762161255</real>
				<key>Red Component</key>
				<real>0.85882353782653809</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70196080207824707</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.49803921580314636</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7137255072593689</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.60000002384185791</real>
				<key>Red Component</key>
				<real>0.83921569585800171</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.57254904508590698</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.51372551918029785</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66666668653488159</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>0.82745099067687988</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.65490198135375977</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49803921580314636</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73725491762161255</real>
				<key>Red Component</key>
				<real>0.85882353782653809</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70196080207824707</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.49803921580314636</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7137255072593689</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.60000002384185791</real>
				<key>Red Component</key>
				<real>0.83921569585800171</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.57254904508590698</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.51372551918029785</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66666668653488159</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>0.82745099067687988</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.36078432202339172</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.33725491166114807</real>
				<key>Red Component</key>
				<real>0.29411765933036804</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.49411764740943909</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.24313725531101227</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21960784494876862</real>
				<key>Red Component</key>
				<real>0.18431372940540314</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.65490198135375977</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999600648880005</real>
			</dict>
			<key>Brighten Bold Text</key>
			<true/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string>/bin/zsh</string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66666668653488159</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>0.82745099067687988</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.24313725531101227</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21960784494876862</real>
				<key>Red Component</key>
				<real>0.18431372940540314</real>
			</dict>
			<key>Custom Command</key>
			<string>Yes</string>
			<key>Custom Directory</key>
			<string>Advanced</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.66666668653488159</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>0.82745099067687988</real>
			</dict>
			<key>Guid</key>
			<string>A7AB2EE2-567C-4B28-B605-A278CA35D9D6</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>b</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>f</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70196080207824707</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.49803921580314636</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>MesloLGS-NF-Regular 11</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<true/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.24313725531101227</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21960784494876862</real>
				<key>Red Component</key>
				<real>0.18431372940540314</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294119119644165</real>
				<key>Red Component</key>
				<real>0.65490198135375977</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.032884183843085106</real>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/kterusaki</string>
		</dict>
	</array>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>SoundForEsc</key>
	<false/>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
